

@font-face {
  font-family: "soehne-breit-web-extrafett";
  src: url("../fontssoehne-breit-web-extrafett.eot"),
  url("../fonts/soehne-breit-web-extrafett.woff") format("woff"),
  url("../fonts/soehne-breit-web-extrafett.woff2") format("woff2");
}

@font-face {
  font-family: "Everett-Regular-web";
  src: url("../Everett-Regular-web.eot"),
  url("../fonts/Everett-Regular-web.woff") format("woff"),
  url("../fonts/Everett-Regular-web.woff2") format("woff2");
}


html {
  font-size: 12px;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media only screen and (min-width: 996px) {
        html {font-size: 14px;}
}
/*

/*************************************** type styles */

body {
  background-color: white;
  font-weight: 400;
  line-height: 1.25;
  color: black;
  font-family: "Everett-Regular-web", Arial, sans-serif;
}


h1, h2, h3, h4, h5 {
  margin: 0em 0 0em 0;
  line-height: 0.8;
}

h1, h2, h3, h4, h5 {
  font-family: "soehne-breit-web-extrafett", Arial, sans-serif; 
}

/******************* Mobile *******************/

.jumbo h1 {font-size: 3rem;
            line-height: 0.8;}
h1 {font-size: 3rem;}
h2 {font-size: 1.6rem;}
h3 {font-size: 1.4rem;}
h4 {font-size: 1.5rem; line-height: 0.7;}
h5 {font-size: 1.5rem; line-height: 1.2;}
h6 {font-size: 0.7rem;}
p {font-size: 1.25rem; margin-bottom: 1.25em;}

@media only screen and (min-width: 768px) {
        h1 {font-size: 4rem; margin-top: 0;}
        h2 {font-size: 2.4rem;}
        h3 {font-size: 2.0rem;}
        h4 {font-size: 1rem;}
        h5 {font-size: 1rem; }
        h6 {font-size: 0.7rem;}
        p {font-size: 1.3rem;}
}

/******************* Desktop *******************/

@media only screen and (min-width: 996px) {
        .jumbo h1 { line-height: 0.8;}
        h1 {font-size: 5rem; margin-top: 0;}
        h2 {font-size: 2.4rem;}
        h3 {font-size: 2.0rem;}
        h4 {font-size: 1rem;}
        h5 {font-size: 1rem; }
        h6 {font-size: 0.7rem;}
        p {font-size: 1.3rem;}
}

/******************* Desktop *******************/

@media only screen and (min-width: 1796px) {
        h1 {font-size: 11rem; margin-top: 0;}
}


/******************* LINKS *******************/

p a:link, p a:visited, p a:active,
li a:link, li a:visited, li a:active,
h4 a:link, h4 a:visited, h4 a:active, 
h2 a:link, h2 a:visited, h2 a:active,
h1 a:link, h1 a:visited, h1 a:active
{
  text-decoration: none;
  padding-bottom: 0.15rem;
  background-color: none;
}


 td a:hover, p a:hover {
  font-weight: 600;
}


a:hover {
  text-decoration: none;
}

h4 a:hover, h5 a:hover {
  font-weight: 400;
}

.bold {
  font-weight: 600;
}

/******************* Color of text *******************/


.hero-table-heading {
  color: black;
  -webkit-text-stroke: 0.8px white;
}


.white-text {
  color: white;
  /*background-color: black;*/
  border-color: white !important;
}

.white-text a, .white-text h2 {
  color: white;
}


.black-text {
  color: black;
  /*background-color: white;*/
  border-color: black !important;
}

.tinkle-text {
  color: #306844;;
  /*background-color: black;*/
  border-color: #306844 !important;
}

.tinkle-text a, .tinkle-text h2 {
  color: #306844;
}


.elpatio-text {
  color: #306844;;
  /*background-color: black;*/
  border-color: #306844 !important;
}

.elpatio-text a, .tinkle-text h2 {
  color: #306844;
}


.aurora-text {
  color: #2f4f92;
  /*background-color: black;*/
  border-color: #2f4f92 !important;
}

.aurora-text a, .aurora-text h2 {
  color: #2f4f92;
}


.black-text h2, .black-text  a {
  color: black;
}


.grey-text {
  color: lightgray;
  /*background-color: black;*/
  border-color: lightgray !important;
}
.grey-text a, .grey-text h2{
  color: lightgray;
}

/*.black-text  a:hover {
  color: black;
  -webkit-text-stroke: 1px black;
}
*/
.hero-table  a:hover {
  color: black;
  -webkit-text-stroke: 0.8px white;
}

.ct-text {
  color: #e8e8ed;
  /*background-color: black;*/
  border-color: #e8e8ed !important;
}

.ct-text a, .ct-text h2 {
  color: #e8e8ed;
}


.gsr-text {
  color: #1c242c;
  /*background-color: black;*/
  border-color: #1c242c !important;
}

.gsr-text a, .gsr-text h2 {
  color: #1c242c;
}


.nicerice-text {
  color: #00aeef;
  /*background-color: black;*/
  border-color: #00aeef !important;
  border-color: #00aeef !important;
}

.nicerice-text a, .nicerice-text h2 {
  color: #00aeef;
}

.nofuss-text {
  color: #d74d4b;
  /*background-color: black;*/
  border-color: #d74d4b !important;
  border-color: #d74d4b !important;
}

.nofuss-text a, .nofuss-text h2 {
  color: #d74d4b;
}




/******************* Color of Background *******************/


.black-bg {
  background-color: black;
}

.white-bg {
  background-color: white;
}

.dimgray-bg {
  background-color: #202020;
}

.lightgray-bg {
  background-color: #d8d8d8;
}

.stgeorges {
  background-color: #002579;
}

.tinkle {
  background-color: #f3fdf2;
}

.aurora {
  background-color: #e5e5e5;
}

.ct-bg {
  background-color: #ff4c03;
}


.elpatio-bg {
  background-color: #EB5A31;
}

.nak-bg {
  background-color: #091b0f;
}

.nicerice-bg {
  background-color: #011566;
}

.nofuss-bg {
  background-color: #d74d4b;
}



/******************* Colors *******************/

.gold {
  color: #C5B358;
}

.silver {
  color: silver;
}


/******************* NAV *******************/

.breadcrumb {
  background-color: transparent;
  border-bottom: 1px solid;
  border-radius: 0;
  padding: 1em 0 1em 0;
  margin: 0;
}

.foot {
  border-top: 1px solid;
  padding: 0.3em 0 0.3em 0;
}


/******************* Homepage Hero *******************/


.hero-table table, .hero-table th, .hero-table td {
	border-top: none !important;
	border: none;
}

  

.hero-link h1 {
  text-transform: uppercase;
}

.hero-link h1:hover {
  /*font-family: "Everett-Regular-web" !important;*/
  /*text-transform: capitalize;*/
  text-transform: uppercase;
}

.btn-block {
  /*background-color: red;*/
}

/*.hero-links:hover {
	font-family: "Times" !important;
  font-weight: 600;
	text-transform: capitalize;
}*/

/*.hero-links {
  font-family: "soehne-breit-web-extrafett";
	height: auto;
	width: 100%;
  text-transform: uppercase;
}*/

.awards-link:hover span {
  display:none
}

.awards-link:hover:before {
  content:"Awards";
  background-color: none;
}

.awards-link:hover {
  font-family: "Everett-Regular-web" !important;
  /*font-weight: 600;*/
  text-transform: capitalize;
}


.contact-link:hover span {
  display:none
}

.contact-link:hover:before {
  content:"Contact";
  /*padding-bottom: 0.15rem;*/
  background-color: none;
}

.contact-link:hover {
  font-family: "Everett-Regular-web" !important;
  text-transform: capitalize;
  /*font-weight: 600;*/
}


.bio-link:hover span {
  display:none
}

.bio-link:hover:before {
  content:"Bio";
  /*padding-bottom: 0.15rem;*/
  background-color: none;
}

.bio-link:hover {
  font-family: "Everett-Regular-web" !important;
  text-transform: capitalize;
  /*font-weight: 600;*/

}

.about-link:hover span {
  display:none
}

.about-link:hover:before {
  content:"About this project";
  /*padding-bottom: 0.15rem;*/
  background-color: none;
}

.about-link:hover {
  font-family: "Everett-Regular-web" !important;
  /*font-weight: 600;*/
  text-transform: capitalize;
}


.back-button:hover span {
  font-weight: 400;
}




/******************* Accordion *******************/


.btn-link {
	  text-decoration: none !important;
  	padding-bottom: 0rem;
  	background-color: none;
  	width: 100%;
  	text-align: left;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
     outline: none; 
     /*outline: 10px auto -webkit-focus-ring-color; */
     /*outline-offset: -2px; */
}

.btn{
    padding: 0;
  }

.card, .card-header {
    background: none;
    padding-left: 0;
    border: none;
}

.card-header {
  padding: 1rem 0 1rem 0;
}

.card {
	border-bottom: 1px solid;
	border-radius: 0;
}

.card-body {
padding: 0;
}

.active, .card-header .btn, .card-header2 .btn, .card-body {
    padding-left: 0;
}


.menu {
    margin-top: 3em;
    margin-bottom: 1.7em;
}

@media only screen and (max-width: 575px) {
        .red {margin-top: 3em;}
        .menu { margin-top: 0em; margin-bottom: 1.5em;}
        /*.blue {position: relative;}*/
}

/******************* Table *******************/

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border-top: 1px solid;
  padding: 0.5em 0;
  vertical-align: top;
}

.text-right {
    text-align: right !important;
     width: 80%; 
}

.medal {
	padding-right: 1em;
}

.tooltip {
	cursor: help;
}

.frame-mobile {
    max-width: 50%;
    border-top: solid 50px;
    border-bottom: solid 50px;
    border-left: solid 10px;
    border-right: solid 10px;
    border-radius: 30px;
    }

.frame-desktop {
    width: 100%;
    border: solid 20px;
    border-radius: 20px;
    line-height: 0 !important;
  }

.frame-video {
  width: 100%;
  line-height: 0 !important;
  }

.posters {
  max-width: 70%;
  -webkit-box-shadow: 5px 5px 29px -1px rgba(0,0,0,0.15);
-moz-box-shadow: 5px 5px 29px -1px rgba(0,0,0,0.15);
box-shadow: 5px 5px 29px -1px rgba(0,0,0,0.15);
}

.website-flow-on {
  margin-left: 20px;
  margin-right: 20px;
}

.center {
  display: inherit;
  margin-left: auto;
  margin-right: auto;
}

.lg-space-top, .lg-space-btm, .sm-space-top, .sm-space-btm
{
  line-height: 0;
}

.lg-space-top {
  padding-top: 10%;
}

.lg-space-btm {
  padding-bottom: 10%;
}

.sm-space-top {
  padding-top: 5%;
}

.sm-space-btm {
  padding-bottom: 5%;
}

}


