/*@font-face {
    font-family: 'MD Nichrome';
    src: url('MDNichrome-Bold.woff2') format('woff2'),
        url('MDNichrome-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}*/

@font-face {
    font-family: 'Metric';
    src: url('fonts/Metric-Bold.woff2') format('woff2'),
        url('fonts/Metric-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metric';
    src: url('fonts/Metric-Regular.woff2') format('woff2'),
        url('fonts/Metric-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*@font-face {
    font-family: 'Signifier';
    src: url('Signifier-BoldItalic.woff2') format('woff2'),
        url('Signifier-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}*/



/*********************** type scales made using https://type-scale.com/ **************************/


/* setting the base size */

html {
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased;
}


/* Tablet base size */
@media only screen and (min-width: 996px) {
        html {font-size: 12px;}
}

/* Desktop and laptop base size */
@media only screen and (min-width: 1200px) {
        html {font-size: 16px;}
}


/* type styles */



body {
  background: white;
  font-family: 'Metric', sans-serif;
  font-weight: 400;
  line-height: 1.75;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Metric', sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 4.768rem;
  line-height: 1;
}

h2 {font-size: 3.815rem;
    line-height: 1;}

h3 {font-size: 3.052rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}


.intro {font-size: 1.563rem;}

.large-para {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}


.jumbo {
  margin-top: 0;
  font-size: 6rem;
  font-family: 'Metric', sans-serif;
  font-weight: 700;
  line-height: 0.8;
}


@media only screen and (min-width: 996px) {
        .jumbo {font-size: 13rem; margin-top: 10%;}
}


@media only screen and (min-width: 768px) {
        .jumbo {font-size: 13rem; margin-top: 10%;}
}

/*h1 {
  margin-top: 0;
  font-size: 7.594rem;
  font-family: 'Metric', sans-serif;
  font-weight: 700;
  line-height: 0.8;
}

h2 {
    font-size: 5.063rem;
    font-family: 'Metric', sans-serif;
    font-weight: 700;
    line-height: 0.8;
}

h3 {
    font-size: 3.375rem;
    font-family: 'Metric', sans-serif;
    font-weight: 700;
    line-height: 1;
}

h4 {font-size: 2.25rem;
    font-weight: 700;
    line-height: 1;}

h5 {font-size: 1.5rem;}

small, .text_small {font-size: 0.667rem;}*/


/*body {
  background: white;
  font-family: "Metric", sans-serif; 
  font-weight: 400;
  line-height: 1.5;
  color: black;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5, h6 {
  margin: 0rem 0 1.38rem;
  font-weight: 700;
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 3.815rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

h6 {font-size: 0.8rem;
    /*letter-spacing: 0.1rem;*/
}

/*.tile-descriptor { font-size: 0.8rem;
}

small, .text_small {font-size: 0.8rem;}*/*/



/********* CUSTOM STYLES ********* */



/*** Links ***/


.article-tags {
  letter-spacing: 0.05rem;
}


a {
  position: relative;
}

.underline::before {
  content: '';
  position: absolute;
  margin-bottom: -0.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
/*  background-color: #0312C5;*/
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}


/*** hover blue ***/

.article:hover {
    color: #0312C5;
    transition: color 0.4s ease;
}

.text-tile {
  height: 100%;
  padding: 2rem;
}

.centre-text {
  top: 50%;
}
