canvas{
  	position: absolute;
		top: 0;
		left: 0;
		background: black;
	}
	#panel{
		position:absolute;
		z-index:1;
		background: white;
		padding: 0.5em;
		top:0;
		left:0;
	}
	#panel .main{
		display: none;
	}
	#panel:hover .main{
		display: block;
	}